<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>317562561916-o3qad2ago4bv8c47f6vvtlnr619icvf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317562561916-o3qad2ago4bv8c47f6vvtlnr619icvf6</string>
	<key>API_KEY</key>
	<string>AIzaSyB3MEdfOx5lrk-AktO4uj2mbYNMSBSSyzA</string>
	<key>GCM_SENDER_ID</key>
	<string>317562561916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PashynSantos.GuesSING</string>
	<key>PROJECT_ID</key>
	<string>guessing-psantos</string>
	<key>STORAGE_BUCKET</key>
	<string>guessing-psantos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317562561916:ios:65229b3cbdb48817</string>
	<key>DATABASE_URL</key>
	<string>https://guessing-psantos.firebaseio.com</string>
</dict>
</plist>